<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.myself"
    versionCode = "10" 
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>mYself</name>

    <description></description>

    <author href="https://gitto.io/r/miamarti" email="miller.augusto@gmail.com">
      Miller Augusto S. Martins
    </author>

    <gap:plugin name="genesis.plugins.calendar"/>
</widget>
